@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  padding: 2em;
  font-family: sans-serif;
  background: black;
}

a {
  font-size: 0.7em;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
}

/* nav ul {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
} */

.logo {
  width: 3em;
}

/* nav ul li a {
  margin: 0 1em;
  width: 100%;
  color: black;
  background: linear-gradient(0deg, black, black);
  background-repeat: no-repeat;
  background-size: 0 2px;
  background-position: bottom;
}

nav ul li a:hover {
  background: linear-gradient(0deg, black, black);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: bottom;
  transition: .5s ease-in;
}

.menu,
.close {
  display: none;
} */

/* Body */
.hero-container {
  height: 100vh;
  background: black;
  color: white;
  /* -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px; */
  margin: 2em 1em;
}

.gradient-border {
  --borderWidth: 1em;
  /* background: #1D1F20; */
  position: relative;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.heading {
  font-size: 20vmin;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-style: italic;
  padding: 2em 1em;
}

.from-jude {
  font-style: italic;
  font-variant: all-petite-caps;
  font-family: 'Lobster', cursive;
  font-family: 'Pacifico', cursive;
  font-size: 1em;
}

.santa-with-tree-img {
  width: 15em;
  position: absolute;
  right: 5%;
  bottom: 10%;
  animation: moveSanta 1s alternate-reverse infinite;
}

.props img {
  width: 1em;
  position: absolute;
}

.props-1 {
  left: 5%;
  top: 20%;
  animation: blink 2s alternate-reverse infinite;
}

.props-2 {
  left: 20%;
  top: 10%;
  animation: blink 3.5s alternate-reverse infinite;
}

.props-3 {
  left: 30%;
  top: 50%;
  animation: blink 1.7s alternate-reverse infinite;
}

.props-4 {
  left: 60%;
  top: 70%;
  animation: blink 1.2s alternate-reverse infinite;
}

.props-5 {
  left: 80%;
  top: 10%;
  animation: blink 2.3s alternate-reverse infinite;
}

.props-6 {
  left: 50%;
  top: 20%;
  animation: blink 2.5s alternate-reverse infinite;
}

.props-7 {
  left: 70%;
  top: 60%;
  animation: blink 1.7s alternate-reverse infinite;
}

.props-8 {
  left: 90%;
  top: 15%;
  animation: blink 1.5s alternate-reverse infinite;
}

.props-9 {
  left: 55%;
  top: 25%;
  animation: blink 2.8s alternate-reverse infinite;
}

.props-10 {
  left: 45%;
  top: 70%;
  animation: blink 3s alternate-reverse infinite;
}

/* blink stars animation */
@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

/* Santa image animation */
@keyframes moveSanta {
  from {
    transform: translateY(-30px);
  }

  to {
    transform: translateY(0);
  }
}

/* media queries */

@media (max-width: 1000px) {
  .logo {
    width: 3em;
  }

  .heading span {
    display: block;
  }

  .merry {
    margin: 0 auto;
  }

  .christmas {
    font-size: 14vmin;
  }

  .to-you {
    font-size: 14vmin;
  }

  .from-jude {
    font-size: 2em;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 2em;
  }

  nav {
    padding-left: 0.5em;
  }

  body {
    padding: 1em;
  }

  .hero-container {
    height: 90vh;
  }

  .heading span {
    display: block;
  }

  .christmas {
    font-size: 10vmin;
  }

  .from-jude {
    font-size: 1em;
  }

  .santa-with-tree-img {
    width: 12em;
  }

  .gradient-border {
    --borderWidth: .5em;
  }

  .props-1 {
    left: 5%;
    top: 45%;
  }

  .props-2 {
    left: 20%;
    top: 10%;
  }

  .props-3 {
    left: 45%;
    top: 30%;
  }

  .props-4 {
    left: 60%;
    top: 40%;
  }

  .props-5 {
    left: 20%;
    top: 80%;
  }

  .props-6 {
    left: 50%;
    top: 50%;
  }

  .props-7 {
    left: 70%;
    top: 30%;
  }

  .props-8 {
    left: 90%;
    top: 95%;
  }

  .props-9 {
    left: 55%;
    top: 65%;
  }

  .props-10 {
    left: 45%;
    top: 90%;
  }
}

@media (max-width: 400px) {
  .santa-with-tree-img {
    width: 10em;
    right: 1%;
    bottom: 10%;
  }
}

@media (max-width: 320px) {
  .santa-with-tree-img {
    width: 7em;
    right: 1%;
    bottom: 5%;
  }

  .from-jude {
    font-size: .8em;
    text-align: left;
  }
}


/* Popping animation */
.hero-container>.before,
.hero-container>.after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.hero-container>.after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -50px -266.3333333333px #9dff00, -222px -104.3333333333px #ff00f7, 100px -128.3333333333px #ff4400, 203px -145.3333333333px #ffc800, 219px -247.3333333333px #ff7b00, 64px 34.6666666667px #009dff, -54px -126.3333333333px #1a00ff, 132px -265.3333333333px #f7ff00, 124px -243.3333333333px #ff3700, -56px -329.3333333333px #ff0d00, -237px 43.6666666667px #ff7b00, -237px -222.3333333333px #ff9900, -5px -143.3333333333px #ff2b00, 187px 10.6666666667px #51ff00, 230px 29.6666666667px #ff003c, -48px -227.3333333333px #ff001e, -194px -85.3333333333px #ff00cc, 199px 0.6666666667px #2200ff, 139px -82.3333333333px #95ff00, 218px -170.3333333333px #ffe100, 77px -167.3333333333px #ff0033, 208px -254.3333333333px #9dff00, -237px 35.6666666667px #ff00d9, -171px -170.3333333333px #00ff91, 137px 23.6666666667px #40ff00, -152px -259.3333333333px #9d00ff, -20px -94.3333333333px #00ff48, 144px -124.3333333333px #ff5500, 111px -11.3333333333px #0084ff, -47px -255.3333333333px #ff0073, -193px -52.3333333333px #005eff, -202px -26.3333333333px #00eeff, -77px -331.3333333333px #ff0004, 38px -67.3333333333px #99ff00, 60px -20.3333333333px #00d0ff, 124px -58.3333333333px #ff8400, -1px -306.3333333333px #00aeff, -207px -226.3333333333px #003cff, -89px -182.3333333333px #ff0026, 72px -193.3333333333px #7bff00, -126px -311.3333333333px #55ff00, -224px -32.3333333333px #00fbff, 63px -24.3333333333px #0051ff, 127px -207.3333333333px #00ff15, -248px -16.3333333333px #6200ff, 181px -286.3333333333px #8c00ff, 134px -53.3333333333px #00b7ff, 7px -221.3333333333px #2fff00, -20px -1.3333333333px #00ff2f, -28px -30.3333333333px #0d00ff, -101px -185.3333333333px #ff009d, 137px -263.3333333333px #59ff00, -82px -281.3333333333px #00fff7, -10px -237.3333333333px #5500ff, -168px -39.3333333333px #00ccff, -45px -80.3333333333px #a6ff00, -214px -200.3333333333px #007bff, 49px -54.3333333333px #009dff, 96px -178.3333333333px #ffcc00, 69px -161.3333333333px #c8ff00, -15px -27.3333333333px #ff0900;
  }
}

@-moz-keyframes bang {
  to {
    box-shadow: -50px -266.3333333333px #9dff00, -222px -104.3333333333px #ff00f7, 100px -128.3333333333px #ff4400, 203px -145.3333333333px #ffc800, 219px -247.3333333333px #ff7b00, 64px 34.6666666667px #009dff, -54px -126.3333333333px #1a00ff, 132px -265.3333333333px #f7ff00, 124px -243.3333333333px #ff3700, -56px -329.3333333333px #ff0d00, -237px 43.6666666667px #ff7b00, -237px -222.3333333333px #ff9900, -5px -143.3333333333px #ff2b00, 187px 10.6666666667px #51ff00, 230px 29.6666666667px #ff003c, -48px -227.3333333333px #ff001e, -194px -85.3333333333px #ff00cc, 199px 0.6666666667px #2200ff, 139px -82.3333333333px #95ff00, 218px -170.3333333333px #ffe100, 77px -167.3333333333px #ff0033, 208px -254.3333333333px #9dff00, -237px 35.6666666667px #ff00d9, -171px -170.3333333333px #00ff91, 137px 23.6666666667px #40ff00, -152px -259.3333333333px #9d00ff, -20px -94.3333333333px #00ff48, 144px -124.3333333333px #ff5500, 111px -11.3333333333px #0084ff, -47px -255.3333333333px #ff0073, -193px -52.3333333333px #005eff, -202px -26.3333333333px #00eeff, -77px -331.3333333333px #ff0004, 38px -67.3333333333px #99ff00, 60px -20.3333333333px #00d0ff, 124px -58.3333333333px #ff8400, -1px -306.3333333333px #00aeff, -207px -226.3333333333px #003cff, -89px -182.3333333333px #ff0026, 72px -193.3333333333px #7bff00, -126px -311.3333333333px #55ff00, -224px -32.3333333333px #00fbff, 63px -24.3333333333px #0051ff, 127px -207.3333333333px #00ff15, -248px -16.3333333333px #6200ff, 181px -286.3333333333px #8c00ff, 134px -53.3333333333px #00b7ff, 7px -221.3333333333px #2fff00, -20px -1.3333333333px #00ff2f, -28px -30.3333333333px #0d00ff, -101px -185.3333333333px #ff009d, 137px -263.3333333333px #59ff00, -82px -281.3333333333px #00fff7, -10px -237.3333333333px #5500ff, -168px -39.3333333333px #00ccff, -45px -80.3333333333px #a6ff00, -214px -200.3333333333px #007bff, 49px -54.3333333333px #009dff, 96px -178.3333333333px #ffcc00, 69px -161.3333333333px #c8ff00, -15px -27.3333333333px #ff0900;
  }
}

@-o-keyframes bang {
  to {
    box-shadow: -50px -266.3333333333px #9dff00, -222px -104.3333333333px #ff00f7, 100px -128.3333333333px #ff4400, 203px -145.3333333333px #ffc800, 219px -247.3333333333px #ff7b00, 64px 34.6666666667px #009dff, -54px -126.3333333333px #1a00ff, 132px -265.3333333333px #f7ff00, 124px -243.3333333333px #ff3700, -56px -329.3333333333px #ff0d00, -237px 43.6666666667px #ff7b00, -237px -222.3333333333px #ff9900, -5px -143.3333333333px #ff2b00, 187px 10.6666666667px #51ff00, 230px 29.6666666667px #ff003c, -48px -227.3333333333px #ff001e, -194px -85.3333333333px #ff00cc, 199px 0.6666666667px #2200ff, 139px -82.3333333333px #95ff00, 218px -170.3333333333px #ffe100, 77px -167.3333333333px #ff0033, 208px -254.3333333333px #9dff00, -237px 35.6666666667px #ff00d9, -171px -170.3333333333px #00ff91, 137px 23.6666666667px #40ff00, -152px -259.3333333333px #9d00ff, -20px -94.3333333333px #00ff48, 144px -124.3333333333px #ff5500, 111px -11.3333333333px #0084ff, -47px -255.3333333333px #ff0073, -193px -52.3333333333px #005eff, -202px -26.3333333333px #00eeff, -77px -331.3333333333px #ff0004, 38px -67.3333333333px #99ff00, 60px -20.3333333333px #00d0ff, 124px -58.3333333333px #ff8400, -1px -306.3333333333px #00aeff, -207px -226.3333333333px #003cff, -89px -182.3333333333px #ff0026, 72px -193.3333333333px #7bff00, -126px -311.3333333333px #55ff00, -224px -32.3333333333px #00fbff, 63px -24.3333333333px #0051ff, 127px -207.3333333333px #00ff15, -248px -16.3333333333px #6200ff, 181px -286.3333333333px #8c00ff, 134px -53.3333333333px #00b7ff, 7px -221.3333333333px #2fff00, -20px -1.3333333333px #00ff2f, -28px -30.3333333333px #0d00ff, -101px -185.3333333333px #ff009d, 137px -263.3333333333px #59ff00, -82px -281.3333333333px #00fff7, -10px -237.3333333333px #5500ff, -168px -39.3333333333px #00ccff, -45px -80.3333333333px #a6ff00, -214px -200.3333333333px #007bff, 49px -54.3333333333px #009dff, 96px -178.3333333333px #ffcc00, 69px -161.3333333333px #c8ff00, -15px -27.3333333333px #ff0900;
  }
}

@-ms-keyframes bang {
  to {
    box-shadow: -50px -266.3333333333px #9dff00, -222px -104.3333333333px #ff00f7, 100px -128.3333333333px #ff4400, 203px -145.3333333333px #ffc800, 219px -247.3333333333px #ff7b00, 64px 34.6666666667px #009dff, -54px -126.3333333333px #1a00ff, 132px -265.3333333333px #f7ff00, 124px -243.3333333333px #ff3700, -56px -329.3333333333px #ff0d00, -237px 43.6666666667px #ff7b00, -237px -222.3333333333px #ff9900, -5px -143.3333333333px #ff2b00, 187px 10.6666666667px #51ff00, 230px 29.6666666667px #ff003c, -48px -227.3333333333px #ff001e, -194px -85.3333333333px #ff00cc, 199px 0.6666666667px #2200ff, 139px -82.3333333333px #95ff00, 218px -170.3333333333px #ffe100, 77px -167.3333333333px #ff0033, 208px -254.3333333333px #9dff00, -237px 35.6666666667px #ff00d9, -171px -170.3333333333px #00ff91, 137px 23.6666666667px #40ff00, -152px -259.3333333333px #9d00ff, -20px -94.3333333333px #00ff48, 144px -124.3333333333px #ff5500, 111px -11.3333333333px #0084ff, -47px -255.3333333333px #ff0073, -193px -52.3333333333px #005eff, -202px -26.3333333333px #00eeff, -77px -331.3333333333px #ff0004, 38px -67.3333333333px #99ff00, 60px -20.3333333333px #00d0ff, 124px -58.3333333333px #ff8400, -1px -306.3333333333px #00aeff, -207px -226.3333333333px #003cff, -89px -182.3333333333px #ff0026, 72px -193.3333333333px #7bff00, -126px -311.3333333333px #55ff00, -224px -32.3333333333px #00fbff, 63px -24.3333333333px #0051ff, 127px -207.3333333333px #00ff15, -248px -16.3333333333px #6200ff, 181px -286.3333333333px #8c00ff, 134px -53.3333333333px #00b7ff, 7px -221.3333333333px #2fff00, -20px -1.3333333333px #00ff2f, -28px -30.3333333333px #0d00ff, -101px -185.3333333333px #ff009d, 137px -263.3333333333px #59ff00, -82px -281.3333333333px #00fff7, -10px -237.3333333333px #5500ff, -168px -39.3333333333px #00ccff, -45px -80.3333333333px #a6ff00, -214px -200.3333333333px #007bff, 49px -54.3333333333px #009dff, 96px -178.3333333333px #ffcc00, 69px -161.3333333333px #c8ff00, -15px -27.3333333333px #ff0900;
  }
}

@keyframes bang {
  to {
    box-shadow: -50px -266.3333333333px #9dff00, -222px -104.3333333333px #ff00f7, 100px -128.3333333333px #ff4400, 203px -145.3333333333px #ffc800, 219px -247.3333333333px #ff7b00, 64px 34.6666666667px #009dff, -54px -126.3333333333px #1a00ff, 132px -265.3333333333px #f7ff00, 124px -243.3333333333px #ff3700, -56px -329.3333333333px #ff0d00, -237px 43.6666666667px #ff7b00, -237px -222.3333333333px #ff9900, -5px -143.3333333333px #ff2b00, 187px 10.6666666667px #51ff00, 230px 29.6666666667px #ff003c, -48px -227.3333333333px #ff001e, -194px -85.3333333333px #ff00cc, 199px 0.6666666667px #2200ff, 139px -82.3333333333px #95ff00, 218px -170.3333333333px #ffe100, 77px -167.3333333333px #ff0033, 208px -254.3333333333px #9dff00, -237px 35.6666666667px #ff00d9, -171px -170.3333333333px #00ff91, 137px 23.6666666667px #40ff00, -152px -259.3333333333px #9d00ff, -20px -94.3333333333px #00ff48, 144px -124.3333333333px #ff5500, 111px -11.3333333333px #0084ff, -47px -255.3333333333px #ff0073, -193px -52.3333333333px #005eff, -202px -26.3333333333px #00eeff, -77px -331.3333333333px #ff0004, 38px -67.3333333333px #99ff00, 60px -20.3333333333px #00d0ff, 124px -58.3333333333px #ff8400, -1px -306.3333333333px #00aeff, -207px -226.3333333333px #003cff, -89px -182.3333333333px #ff0026, 72px -193.3333333333px #7bff00, -126px -311.3333333333px #55ff00, -224px -32.3333333333px #00fbff, 63px -24.3333333333px #0051ff, 127px -207.3333333333px #00ff15, -248px -16.3333333333px #6200ff, 181px -286.3333333333px #8c00ff, 134px -53.3333333333px #00b7ff, 7px -221.3333333333px #2fff00, -20px -1.3333333333px #00ff2f, -28px -30.3333333333px #0d00ff, -101px -185.3333333333px #ff009d, 137px -263.3333333333px #59ff00, -82px -281.3333333333px #00fff7, -10px -237.3333333333px #5500ff, -168px -39.3333333333px #00ccff, -45px -80.3333333333px #a6ff00, -214px -200.3333333333px #007bff, 49px -54.3333333333px #009dff, 96px -178.3333333333px #ffcc00, 69px -161.3333333333px #c8ff00, -15px -27.3333333333px #ff0900;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-moz-keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-o-keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-ms-keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

/* End of popping animations */